extends ./layouts/common


block content

  .col-lg-12
    h1.mb-4 Đăng ký thuê gia sư
    hr
    br

    if errors
      each error in errors
        .alert.alert-danger= error

    form#form_order(action='/signup/phuhuynh', method='POST')  
      .form-row
        .col-lg-6.form-group
          input#name.form-control(type='text', name='name', placeholder='Họ và tên', value=values?values.ten: "")
        .col-lg-6.form-group
          input#phone.form-control(type='number', name='phone', placeholder='Số điện thoại', value=values?values.ten: "")


      .form-row
        .col-lg-12.form-group.mt-lg-2
          input.form-control(type='text', name='address', placeholder='Số nhà, tên đường', value=values?values.ten: "")

        .col-lg-12.form-group.mt-lg-2
          input.form-control(type='text', name='message', placeholder='Ghi chú (không bắt buộc)', value=values?values.ten: "")

      .text-right
        input.btn.btn-primary.mt-3.font-weight-bold(type='submit', value='Đăng Ký Ngay')




    .mt-4.pt-2.text-muted.text-justify
      hr
      p.mb-0
        | Sau khi bạn đăng ký, chúng tôi sẽ gọi lại cho bạn để trao đổi thêm những thông tin cần thiết khác. Tất cả thông tin của bạn sẽ được bảo mật.

