extends ./layouts/common


block content
	h1 Danh Sách Lớp Mới 

	.mt-4.mb-4
			
		form(method='GET', action='/classes/search')
				input.search-input(type='text', name='q', placeholder='Tìm kiếm lớp gia sư phù hợp ...', value=values)
				button.search-btn(type='submit') Tìm kiếm 
		

		hr

		.row 		

			
			each _class in classes 
				.col-lg-3.col-md-4.col-sm-6
					.myclass-item.text-small
						.myclass-item-head
							a#malop(href='/classes/' + _class.classId)
								span.font-weight-bold Mã lớp: 
									span= _class.classId 
						.myclass-item-body
							p.p-icon.mb-2 
								i.fa.fa-address-book
								span= _class.subject 
							p.p-icon.mb-2
								i.fas.fa-map-marker-alt
								span= _class.address
							p.p-icon.mb-2
								i.fa.fa-dollar
								span= _class.price
							p.p-icon.mb-2 
								i.far.fa-flag
								span Yêu cầu:	
								span=	_class.require 
							.text-right.mt-3
								a.btn.btn-success.btn-sm.font-weight-bold(href='/classes/' + _class.classId) &raquo; Xem chi tiết 
		
		h5(style='text-align: center') 
			a(href='/danh-sach-lop-moi')
				button T&igrave;m ki&#x1EBF;m l&#x1EA1;i	
	nav(aria-label='Page navigation example')
		ul.pagination.justify-content-center
			li.page-item
				a.page-link(href='#', aria-label='Previous')
					span(aria-hidden='true') &laquo;
					span.sr-only Previous
			li.page-item
				a.page-link(href='#') 1
			li.page-item
				a.page-link(href='#') 2
			li.page-item
				a.page-link(href='#') 3
			li.page-item
				a.page-link(href='#', aria-label='Next')
					span(aria-hidden='true') &raquo;
					span.sr-only Next


		//- table.table.table-striped
		//- 	thead
		//- 		tr
		//- 			th Mã lớp 
		//- 			th Tên lớp 
		//- 			th Địa chỉ 
		//- 			th Giá tiền 
		//- 			th Yêu cầu 
		//- 	tbody
		//- 		each _class in classes	
		//- 			tr 
		//- 				td= _class.classId
		//- 				td= _class.subject
		//- 				td= _class.address 
		//- 				td= _class.price
		//- 				td= _class.require 
