extends ./layouts/common


block content
	h1 Danh Sách Lớp Mới 

	.mt-4.mb-4
		form(method='GET', action='/search')
				input.search-input(type='text', name='keyword', placeholder='Tìm kiếm lớp gia sư phù hợp ...')
				button.search-btn(type='submit') Tìm kiếm 
		

		p


		table.table.table-striped
			thead
				tr
					th Mã lớp 
					th Tên lớp 
					th Địa chỉ 
					th Giá tiền 
					th Yêu cầu 
			tbody
				each _class in classes	
					tr 
						td= _class.classId
						td= _class.subject
						td= _class.address 
						td= _class.price
						td= _class.require 
