extends ../layouts/common


block content
	h1 Danh sách gia sư đăng ký

	div(style='overflow-x:auto;')


		table.table.table-bordered
			thead 
				tr
					th Tên
					th Điện thoại
					th Email 
					th Địa chỉ 
					th Trường 
					th Ghi chú 
					th Xóa 


			tbody
				each _giasu in giasu 	
					tr 
						td= _giasu.name
						td= _giasu.phone
						td= _giasu.email 
						td= _giasu.address 
						td= _giasu.university 
						td= _giasu.message 
						td 
							button(data-id='') delete 

