extends ../layouts/common


block content
	
	
	h1 Danh sách lớp:
		
		p


		table.table.table-striped
			thead
				tr
					th Mã lớp 
					th Tên lớp 
					th Địa chỉ 
					th Giá tiền 
					th Yêu cầu 
			tbody
				each _class in classes	
					tr 
						td= _class.classId
						td= _class.subject
						td= _class.address 
						td= _class.price
						td= _class.require 

	a(href="/classes/create")
		button.btn.btn-primary Tạo lớp					

	p